.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0 15px 2px #000;
    .container-custom-contact {
        width: 81% !important;
        background-image: url(../images/contact/bg-1.svg);
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        @media screen and(min-width:1024px) and(max-width:1600px) {
            background-repeat: round;
        }
    }
    .row-custom {
        width: 90%;
    }
    .footer-right {
        .footer__item {
            .footer__item-phone {
                display: flex;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 30px;
                }
                p {
                    font-size: 21px;
                    color: #fff;
                }
            }
        }
    }
}
