.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container-custom-contact {
        width: 81% !important;
        background-image: url(../images/contact/bg-1.svg);
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
    .row-custom {
        width: 90%;
    }
    .footer-right {
        .footer__item {
            .footer__item-phone {
                display: flex;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 30px;
                }
                p {
                    font-size: 21px;
                    color: #fff;
                }
            }
        }
    }
}
