$font-lato: "Lato", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-openSans:  'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$color-heading: #bfa871;
$background: #272727;
$color-background: #272727;
$color-text: #bfa871;
$color-border-top: #3a3a3a;
$color-white: #FFFFFF;
$color-light-blue: #7D8B94;
