.about {
    background-image: url("../images/about/AboutUs.png");
    height: 100%;
    @media screen and(max-width: 768px) and (min-width: 320px) {
        background-image: url(../images/home/Home-respon.svg);
        background-position: center;
        background-size: cover;
    }
    .about-item {
        background-image: url("../images/about/AboutUs.png");
        height: 100vh;
        width: 100%;
        background-size: cover;
        @media screen and(max-width: 768px) and (min-width: 576px) {
            height: 60vh;
        }
        @media screen and(max-width: 768px) and (min-width: 320px) {
            background-image: url(../images/home/Home-respon.svg);
            background-position: center;
            background-size: cover;
        }
    }
    .about-item1 {
        background-image: url("../images/about/AboutUs.png");
        height: 100vh;
        width: 100%;
        background-size: cover;
        @media screen and(max-width: 768px) and (min-width: 576px) {
            height: 60vh;
        }
        @media screen and(max-width: 768px) and (min-width: 320px) {
            background-image: url(../images/home/Home-respon.svg);
            background-position: center;
            background-size: cover;
        }
    }
    .about-item2 {
        background-image: url("../images/about/AboutUs.png");
        height: 100vh;
        width: 100%;
        background-size: cover;
        @media screen and(max-width: 768px) and (min-width: 576px) {
            height: 60vh;
        }
        @media screen and(max-height: 736px) {
            height: unset;
        }
        @media screen and(max-width: 768px) and (min-width: 320px) {
            background-image: url(../images/home/Home-respon.svg);
            background-position: center;
            background-size: cover;
        }
    }
    .about-item-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .box {
            @media screen and(width:1280px) {
                height: 450px;
            }
            @media screen and(width:1366px) {
                height: 520px;
            }
        }
        @media screen and(max-width: 768px) and (min-width: 576px) {
            height: 60vh;
        }
        .box-mobile {
            display: none;
            height: 82%;
        }
        @media screen and(max-width:576px) and (min-width: 320px) {
            width: 100%;
            margin: 25px;
            @media screen and(max-height:700px) {
                margin: 40px 25px;
            }
            @media screen and(max-height:736px) and (min-width: 414px) {
                margin: 35px;
            }
            .box {
                display: none;
            }
            .box-mobile {
                display: block;
            }
        }
        @media screen and(max-width:1919px) and (min-width: 1280px) {
            margin-top: 40px;
        }
        img {
            position: relative;
        }
        .about-content {
            position: absolute;
            width: 50%;
            @media screen and(max-width:1919px) and (min-width: 1280px) {
                width: 63%;
            }
            @media screen and(max-width:1024px) {
                width: 70%;
            }
            @media screen and(max-width:576px) and (min-width: 320px) {
                width: 63%;
            }
            .about-content-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                p {
                    margin-left: 60px;
                    font-size: 24px;
                    color: #808080;
                    line-height: 45px;
                    @media screen and(width:1280px) {
                        display: block;
                        margin-left: 67px;
                        font-size: 16px;
                        line-height: 35px;
                        text-align: start;
                        width: 374px;
                    }
                    @media screen and(max-width:1024px) {
                        font-size: 16px;
                        margin: 0;
                        line-height: 1.7;
                        text-align: justify;
                    }
                    @media screen and(max-width:576px) and (min-width: 320px) {
                        font-size: 16px;
                        margin: 0;
                        line-height: 1.8;
                        text-align: center;
                    }
                }
                img {
                    @media screen and(max-width:768px) {
                        margin-left: 0;
                    }
                    @media screen and(max-width:576px) and (min-width: 320px) {
                        width: 183px;
                        height: 183px;
                        margin: 0;
                        position: absolute;
                        margin-bottom: 190px;
                    }
                }
            }
            .content-text {
                @media screen and(max-width:576px) and (min-width: 320px) {
                    position: relative;
                    top: 60%;
                }
            }
        }
    }
    .custom-order-2 {
        @media screen and(max-width: 576px) and (min-width: 320px) {
            order: 2;
        }
    }
    .custom-order-1 {
        @media screen and(max-width: 576px) and (min-width: 320px) {
            order: 1;
        }
    }
}
