.about {
    background-image: url("../images/about/AboutUs.png");
    height: 100%;
    .about-item {
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    .about-item1 {
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    .about-item2 {
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    .about-item-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        img {
            position: relative;
        }
        .about-content {
            position: absolute;
            width: 50%;
            .about-content-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                .about-center-img {
                    @media screen and(min-width:1024px) and(max-width:1299px) {
                        margin-left: -110px;
                    }
                }
                .about-center-text {
                    @media screen and(min-width:1024px) and(max-width:1299px) {
                        margin-left: 14px;
                    }
                }
                p {
                    margin-left: 60px;
                    font-size: 24px;
                    color: #808080;
                    line-height: 45px;
                    @media screen and(min-width:1024px) and(max-width:1299px) {
                        margin-left: -30px;
                        font-size: 18px;
                        color: #808080;
                        line-height: 29px;
                    }
                }
                img {
                    margin-left: 90px;
                    @media screen and(min-width:1024px) and(max-width:1299px) {
                        margin-left: 202px;
                        width: 300px;
                    }
                }
            }
        }
    }
}
