.service
    .service-banner
        img(src="images/service/Repeat Grid 1.svg", alt="")
        .service-button
            button(class="button-1") MEDIA
            button(class="button-2") BRANDING
    .service-item
        .container-custom
            .row
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/tuvan.svg", alt="")
                        p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/tuvan1.svg", alt="")
    .service-item
        .container-custom
            .row
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/thuonghieu.svg", alt="")
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/thuonghieu1.svg", alt="")
                        p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
    .service-item
        .container-custom
            .row
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/chienluoc1.svg", alt="")
                        p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/chienluoc.svg", alt="")
    .service-item
        .container-custom
            .row
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/thietke1.svg", alt="")
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/thietke.svg", alt="")
                        p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.