.service#fullpage
    .service-banner.service-scroll
        img(src="images/service/banner.png", alt="")
        .service-button
            button(class="button-1") MEDIA
            button(class="button-2") BRANDING
    .service-item.service-scroll
        .container-custom
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(src="images/service/13.png", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(src="images/service/thuonghieu1.svg", alt="")
    .service-item.service-scroll
        .container-custom
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/chienluoc1.svg", alt="")
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/14.png", alt="")
    .service-item.service-scroll
        .container-custom
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(src="images/service/thietke1.png", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(src="images/service/thietke.svg", alt="")
    .service-item.service-scroll
        .container-custom
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/digital-marketing-text.svg", alt="")
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/16.png", alt="")