.about
	.about-item
		.container
			.row
				.about-item-bg
					img.box(src="images/about/box1.svg", alt="")
					img.box-mobile(src="images/about/box1-mobile.png", alt="")
					.about-content
						.row
							.col-md-7.col-12.custom-order-2
								.about-content-item.content-text
									p Công ty TNHH Truyền thông Công nghệ số Sapioso là 1 công ty về truyền thông trong lĩnh vực sáng tạo, xây dựng, sản xuất bộ nhận diện thương hiệu giúp quảng bá sản phẩm cho doanh nghiệp.
							.col-md-5.col-12.custom-order-1
								.about-content-item
									img(src="images/about/about-ct1.svg", alt="")
	.about-item1
		.container
			.row
				.about-item-bg
					img.box(src="images/about/box2.svg", alt="")
					img.box-mobile(src="images/about/box2-mobile.png", alt="")
					.about-content
						.row
							.col-md-5.col-12
								.about-content-item
									img(class="about-center-img" src="images/about/about-ct2.png", alt="")
							.col-md-7.col-12
								.about-content-item.content-text
									p Phát triển Thương hiệu bao gồm: website development; content creation; bộ nhận diện thương hiệu (brochure, logo, business card); kênh thông tin social media.
	.about-item2
		.container
			.row
				.about-item-bg
					img.box(src="images/about/box1.svg", alt="")
					img.box-mobile(src="images/about/box1-mobile.png", alt="")
					.about-content
						.row
							.col-md-7.col-12.custom-order-2
								.about-content-item.content-text
									p Chụp ảnh, quay sản phẩm cho doanh nghiệp trong một số ngành hàng đặc thù: Thực phẩm, may mặc, etc; các doanh nghiệp mới thành lập, vừa và nhỏ; Giúp các doanh nghiệp phát triển hơn khi áp dụng công nghệ. 
							.col-md-5.col-12.custom-order-1
								.about-content-item
									img(src="images/about/about-ct3.png", alt="")