.header {
    background-color: #5b2b12;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    @media screen and(max-width:768px) and (min-width: 320px) {
        background-color: transparent;
        z-index: 999;
        position: fixed;
    }
    .container-fluid {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        align-items: center;
        z-index: 1;
        .header__menu {
            .menu-logo {
                display: none;
            }
            &-list {
                display: flex;
                li {
                    margin-right: 60px;
                    a {
                        display: flex;
                        align-items: center;
                        color: #fff;
                        img {
                            margin-right: 12px;
                        }
                    }
                    .menu-dot {
                        position: relative;
                        &::after {
                            position: absolute;
                            width: 90px;
                            height: 6px;
                            border-radius: 0px 0px 10px 10px;
                            background-color: #fff;
                            content: "";
                            top: 100%;
                            margin-top: -5vh;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    .item-active {
                        color: #fff;
                    }
                }
            }
            .header__language {
                display: none;
            }
        }
        .header__language {
            #outerContainer {
                display: block;
            }
            #container {
                position: relative;
                width: 130px;
                height: 30px;
                background-color: #fff;
                border: 1px solid #733528;
                margin: 0;
                border-radius: 36px;
                touch-action: none;
                cursor: pointer;
                &.select-left {
                    .left {
                        span {
                            opacity: 1;
                            color: #fff;
                        }
                    }
                }
                &.select-right {
                    .right {
                        span {
                            opacity: 1;
                            color: #fff;
                        }
                    }
                }
                #item {
                    position: relative;
                    width: 56px;
                    height: 22px;
                    border-radius: 36px;
                    transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
                    touch-action: none;
                    user-select: none;
                    &::after {
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        width: 100%;
                        border-radius: 15px;
                        height: 100%;
                        background-color: #733528;
                        content: "";
                    }
                }
                .item-right {
                    transform: translateX(61px);
                }
                .item-left {
                    transform: translateX(0);
                }
                .left {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    user-select: none;
                    span {
                        font-family: sans-serif;
                        font-size: 12px;
                        pointer-events: none;
                        user-select: none;
                        color: #000;
                        transition: all 0.2s ease;
                        font-weight: 500;
                        font-weight: bold;
                    }
                }
                .right {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    pointer-events: none;
                    user-select: none;
                    span {
                        font-family: sans-serif;
                        font-size: 12px;
                        pointer-events: none;
                        user-select: none;
                        color: #000;
                        transition: all 0.2s ease;
                        font-weight: bold;
                    }
                }
            }
            #container1 {
                position: relative;
                width: 130px;
                height: 30px;
                background-color: transparent;
                border: 1px solid $color-text;
                margin: 0;
                border-radius: 36px;
                touch-action: none;
                cursor: pointer;
                &.select-left {
                    .left {
                        span {
                            opacity: 1;
                            color: $color-background;
                        }
                    }
                }
                &.select-right {
                    .right {
                        span {
                            opacity: 1;
                            color: $color-background;
                        }
                    }
                }
                #item1 {
                    position: relative;
                    width: 56px;
                    height: 22px;
                    border-radius: 36px;
                    transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
                    touch-action: none;
                    user-select: none;
                    &::after {
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        width: 100%;
                        border-radius: 15px;
                        height: 100%;
                        background-color: $color-text;
                        content: "";
                    }
                }
                .item-right {
                    transform: translateX(61px);
                }
                .item-left {
                    transform: translateX(0);
                }
                .left {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    user-select: none;
                    span {
                        font-family: sans-serif;
                        font-size: 12px;
                        pointer-events: none;
                        user-select: none;
                        color: $color-text;
                        transition: all 0.2s ease;
                        font-weight: 500;
                        font-weight: bold;
                    }
                }
                .right {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    pointer-events: none;
                    user-select: none;
                    span {
                        font-family: sans-serif;
                        font-size: 12px;
                        pointer-events: none;
                        user-select: none;
                        color: $color-text;
                        transition: all 0.2s ease;
                        font-weight: bold;
                    }
                }
            }
        }
        .header__menu-icon {
            display: none;
            z-index: 999;
            .toggle-icon {
                width: 30px;
                background-color: $color-text;
                margin: 5px 0;
                display: block;
                position: relative;
                height: 2px;
                transition: 0.2s ease-out;
            }
        }
        @media screen and(max-width: 768px) {
            .header__menu {
                overflow: hidden;
                position: absolute;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100vh;
                transition: 0.5s;
                background-color: white;
                z-index: 99;
                // box-shadow: 1px 0 15px 2px $color-text;
                padding: 35px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .menu-logo {
                    display: block;
                }
                .header__language {
                    display: block;
                }
                .header__language {
                    #outerContainer {
                        display: block;
                    }
                    #container {
                        position: relative;
                        width: 130px;
                        height: 30px;
                        background-color: transparent;
                        border: 1px solid #733528;
                        margin: 0;
                        border-radius: 36px;
                        touch-action: none;
                        cursor: pointer;
                        &.select-left {
                            .left {
                                span {
                                    opacity: 1;
                                    color: #fff;
                                }
                            }
                        }
                        &.select-right {
                            .right {
                                span {
                                    opacity: 1;
                                    color: #000;
                                }
                            }
                        }
                        #item {
                            position: relative;
                            width: 56px;
                            height: 22px;
                            border-radius: 36px;
                            transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
                            touch-action: none;
                            user-select: none;
                            &::after {
                                position: absolute;
                                top: 3px;
                                left: 5px;
                                width: 100%;
                                border-radius: 15px;
                                height: 100%;
                                background-color: #733528;
                                content: "";
                            }
                        }
                        .item-right {
                            transform: translateX(61px);
                        }
                        .item-left {
                            transform: translateX(0);
                        }
                        .left {
                            display: flex;
                            position: absolute;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            pointer-events: none;
                            user-select: none;
                            span {
                                font-family: sans-serif;
                                font-size: 12px;
                                pointer-events: none;
                                user-select: none;
                                color: #000;
                                transition: all 0.2s ease;
                                font-weight: 500;
                                font-weight: bold;
                            }
                        }
                        .right {
                            display: flex;
                            position: absolute;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            height: 100%;
                            top: 0;
                            right: 0;
                            pointer-events: none;
                            user-select: none;
                            span {
                                font-family: sans-serif;
                                font-size: 12px;
                                pointer-events: none;
                                user-select: none;
                                color: #000;
                                transition: all 0.2s ease;
                                font-weight: bold;
                            }
                        }
                    }
                    #container1 {
                        position: relative;
                        width: 130px;
                        height: 30px;
                        background-color: transparent;
                        border: 1px solid #7a0000;
                        margin: 0;
                        border-radius: 36px;
                        touch-action: none;
                        cursor: pointer;
                        &.select-left {
                            .left {
                                span {
                                    opacity: 1;
                                    color: white;
                                }
                            }
                        }
                        &.select-right {
                            .right {
                                span {
                                    opacity: 1;
                                    color: white;
                                }
                            }
                        }
                        #item1 {
                            position: relative;
                            width: 56px;
                            height: 22px;
                            border-radius: 36px;
                            transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
                            touch-action: none;
                            user-select: none;
                            &::after {
                                position: absolute;
                                top: 3px;
                                left: 5px;
                                width: 100%;
                                border-radius: 15px;
                                height: 100%;
                                background-color: #7a0000;
                                content: "";
                            }
                        }
                        .item-right {
                            transform: translateX(61px);
                        }
                        .item-left {
                            transform: translateX(0);
                        }
                        .left {
                            display: flex;
                            position: absolute;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            pointer-events: none;
                            user-select: none;
                            span {
                                font-family: sans-serif;
                                font-size: 12px;
                                pointer-events: none;
                                user-select: none;
                                color: #2d2d2d;
                                transition: all 0.2s ease;
                                font-weight: 500;
                                font-weight: bold;
                            }
                        }
                        .right {
                            display: flex;
                            position: absolute;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            height: 100%;
                            top: 0;
                            right: 0;
                            pointer-events: none;
                            user-select: none;
                            span {
                                font-family: sans-serif;
                                font-size: 12px;
                                pointer-events: none;
                                user-select: none;
                                color: #2d2d2d;
                                transition: all 0.2s ease;
                                font-weight: bold;
                            }
                        }
                    }
                }
                &-list {
                    flex-direction: column;
                    padding-top: 60px;
                    align-items: center;
                    padding-left: 0;
                    li {
                        margin-top: 20px;
                        width: 100%;
                        margin-right: 0;
                        // border-bottom: 1px solid $color-text;
                        padding-bottom: 20px;
                        a {
                            font-size: 16px;
                            color: #505050;
                            font-weight: 600;

                            // justify-content: center;
                        }
                        .menu-dot::after {
                            top: 50%;
                            transform: translateY(-50%);
                            margin: 0;
                            right: 0;
                            width: 146px;
                            height: 2px;
                            left: unset;
                            background-color: #733528;
                        }
                        .item-active {
                            color: #733528;
                        }
                    }
                }
                img {
                    width: unset;
                }
            }
            .header__menu-icon {
                display: block;
            }
            .set-width {
                right: 0;
            }
            .toggle {
                .line1 {
                    transform: rotate(45deg);
                    top: 7px;
                }
                .line2 {
                    opacity: 0;
                }
                .line3 {
                    transform: rotate(135deg);
                    top: -7px;
                }
            }
            .header__language {
                display: none;
            }
        }
    }
}
.sticky-menu {
    background-color: #7a0000;
}
.sticky-menu-contact {
    background-color: #7a0000;
    // position: fixed;
}
.sticky {
    background-color: #7a0000;
    height: 10vh;
}
@media screen and(max-width:768px) and (min-width: 320px) {
    .menu-big {
        display: none;
    }
    .menu-bar {
        display: block;
        width: 103px;
        height: 26px;
    }
    .sticky-menu {
        background-color: #7a0000;
    }
    .sticky-menu-contact {
        background-color: white;
    }
}
@media screen and(min-width:769px) {
    .menu-big {
        display: block;
    }
    .menu-bar {
        display: none;
    }
}
.header-fixed {
    position: fixed !important;
}
