.contact
    .contact-bg
        img(src="images/contact/contact-bg-mobile.png", alt="")
    .container-custom-contact 
        .row.row-custom 
            .col-lg-6.col-12.footer-right.d-flex.justify-content-center.align-items-start.flex-column
                .title
                    img(src="images/contact/contact-title.png", alt="")
                .contact-map-mobile
                    img(src="images/contact/contact-main-img.png", alt="")
                .contact-logo 
                    img(src="images/home/footer.svg", alt="")
                ul 
                    li.footer__item
                        a.footer__item-phone(href="index.html")
                            img(src="images/home/phone.svg", alt="")
                            p 0967288920
                    li.footer__item
                        a.footer__item-phone(href="index.html")
                            img(src="images/home/mail.svg", alt="")
                            p marketing@consultindochina.com
                    li.footer__item
                        a.footer__item-phone(href="index.html")
                            img(src="images/home/phone.svg", alt="")
                            p N03-T7, Ngoai Giao Doan, Xuan Tao, Tu Liem, Ha Noi
            .col-lg-6.col-12
                .contact-map
                    img(src="images/contact/contact-main-img.png", alt="")
            