.service#fullpage
    .porfolio-banner.service-scroll
    .service-item.service-scroll
        .container-custom
            .row
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/thuonghieu.png", alt="")
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/thuonghieu1.svg", alt="")
    .service-item.service-scroll
        .container-custom
            .row
                .col-md-7.col-12.custom-order-2
                    .service-item-text
                        img(src="images/service/new3.png", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-img
                        img(src="images/service/chienluoc-porfolio.png", alt="")
    .service-item.service-scroll
        .container-custom
            .row
                .col-md-7.col-12.custom-order-1
                    .service-item-img
                        img(src="images/service/digital-marketing.png", alt="")
                .col-md-5.col-12.custom-order-2
                    .service-item-text
                        img(class="w-420" src="images/service/new2.png", alt="")