.service
    .service-banner
        img(src="images/service/banner.png", alt="")
        .service-button
            button(class="button-1") MEDIA
            button(class="button-2") BRANDING
    //- .service-item
    //-     .container-custom
    //-         .row
    //-             .col-md-5.col-12
    //-                 .service-item-text
    //-                     img(src="images/service/tuvan.svg", alt="")
    //-             .col-md-7.col-12
    //-                 .service-item-img
    //-                     img(src="images/service/tuvan1.png", alt="")
    .service-item
        .container-custom
            .row
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(src="images/service/thuonghieu.svg", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(src="images/service/thuonghieu1.svg", alt="")
    .service-item
        .container-custom
            .row
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/chienluoc1.svg", alt="")
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/chienluoc.svg", alt="")
    .service-item
        .container-custom
            .row
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(src="images/service/thietke1.png", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(src="images/service/thietke.svg", alt="")
    .service-item
        .container-custom
            .row
                .col-md-5.col-12
                    .service-item-text
                        img(src="images/service/digital-marketing-text.svg", alt="")
                .col-md-7.col-12
                    .service-item-img
                        img(src="images/service/digital-marketing.png", alt="")
