.service#fullpage
    .porfolio-banner.service-scroll
    .service-item.service-scroll
        .container-custom
            .row-custum
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(src="images/service/thuonghieu.png", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(src="images/service/thuonghieu1.svg", alt="")
    .service-item.service-scroll
        .container-custom
            .row-custum
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(src="images/service/Path2954.svg", alt="")
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(src="images/service/chienluoc-porfolio.png", alt="")
    .service-item.service-scroll
        .container-custom
            .row-custum
                .col-md-7.col-12.custom-order-2
                    .service-item-img
                        img(class="img-digital" src="images/service/digital-marketing.jpg", alt="")
                .col-md-5.col-12.custom-order-1
                    .service-item-text
                        img(class="w-420" src="images/service/Path2956.svg", alt="")