@media (min-width: 768px) {
  .container-fluid {
    width: 95%; } }

ul {
  list-style-type: none;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

img {
  width: 100%; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #272727; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #733528; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #733528; }

.text-content {
  font-size: 24px;
  text-align: justify; }
  @media screen and (max-width: 1560px) {
    .text-content {
      font-size: 18px; } }

.text-title {
  font-size: 40px; }
  @media screen and (max-width: 1560px) {
    .text-title {
      font-size: 35px; } }

.header {
  background-color: #733528;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999; }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .header {
      background-color: transparent;
      z-index: 999;
      position: fixed; } }
  .header .container-fluid {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center; }
    .header .container-fluid .header__menu .menu-logo {
      display: none; }
    .header .container-fluid .header__menu-list {
      display: flex; }
      .header .container-fluid .header__menu-list li {
        margin-right: 60px; }
        .header .container-fluid .header__menu-list li a {
          display: flex;
          align-items: center;
          color: #fff; }
          .header .container-fluid .header__menu-list li a img {
            margin-right: 12px; }
        .header .container-fluid .header__menu-list li .menu-dot {
          position: relative; }
          .header .container-fluid .header__menu-list li .menu-dot::after {
            position: absolute;
            width: 90px;
            height: 6px;
            border-radius: 0px 0px 10px 10px;
            background-color: #fff;
            content: "";
            top: 100%;
            margin-top: -60px;
            left: -24px; }
        .header .container-fluid .header__menu-list li .item-active {
          color: #fff; }
    .header .container-fluid .header__menu .header__language {
      display: none; }
    .header .container-fluid .header__language #outerContainer {
      display: block; }
    .header .container-fluid .header__language #container {
      position: relative;
      width: 130px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #733528;
      margin: 0;
      border-radius: 36px;
      touch-action: none;
      cursor: pointer; }
      .header .container-fluid .header__language #container.select-left .left span {
        opacity: 1;
        color: #fff; }
      .header .container-fluid .header__language #container.select-right .right span {
        opacity: 1;
        color: #fff; }
      .header .container-fluid .header__language #container #item {
        position: relative;
        width: 56px;
        height: 22px;
        border-radius: 36px;
        transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
        touch-action: none;
        user-select: none; }
        .header .container-fluid .header__language #container #item::after {
          position: absolute;
          top: 3px;
          left: 5px;
          width: 100%;
          border-radius: 15px;
          height: 100%;
          background-color: #733528;
          content: ""; }
      .header .container-fluid .header__language #container .item-right {
        transform: translateX(61px); }
      .header .container-fluid .header__language #container .item-left {
        transform: translateX(0); }
      .header .container-fluid .header__language #container .left {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container .left span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #000;
          transition: all 0.2s ease;
          font-weight: 500;
          font-weight: bold; }
      .header .container-fluid .header__language #container .right {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container .right span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #000;
          transition: all 0.2s ease;
          font-weight: bold; }
    .header .container-fluid .header__language #container1 {
      position: relative;
      width: 130px;
      height: 30px;
      background-color: transparent;
      border: 1px solid #bfa871;
      margin: 0;
      border-radius: 36px;
      touch-action: none;
      cursor: pointer; }
      .header .container-fluid .header__language #container1.select-left .left span {
        opacity: 1;
        color: #272727; }
      .header .container-fluid .header__language #container1.select-right .right span {
        opacity: 1;
        color: #272727; }
      .header .container-fluid .header__language #container1 #item1 {
        position: relative;
        width: 56px;
        height: 22px;
        border-radius: 36px;
        transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
        touch-action: none;
        user-select: none; }
        .header .container-fluid .header__language #container1 #item1::after {
          position: absolute;
          top: 3px;
          left: 5px;
          width: 100%;
          border-radius: 15px;
          height: 100%;
          background-color: #bfa871;
          content: ""; }
      .header .container-fluid .header__language #container1 .item-right {
        transform: translateX(61px); }
      .header .container-fluid .header__language #container1 .item-left {
        transform: translateX(0); }
      .header .container-fluid .header__language #container1 .left {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container1 .left span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #bfa871;
          transition: all 0.2s ease;
          font-weight: 500;
          font-weight: bold; }
      .header .container-fluid .header__language #container1 .right {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container1 .right span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #bfa871;
          transition: all 0.2s ease;
          font-weight: bold; }
    .header .container-fluid .header__menu-icon {
      display: none;
      z-index: 999; }
      .header .container-fluid .header__menu-icon .toggle-icon {
        width: 30px;
        background-color: #bfa871;
        margin: 5px 0;
        display: block;
        position: relative;
        height: 2px;
        transition: 0.2s ease-out; }
    @media screen and (max-width: 768px) {
      .header .container-fluid .header__menu {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        background-color: white;
        z-index: 99;
        padding: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .header .container-fluid .header__menu .menu-logo {
          display: block; }
        .header .container-fluid .header__menu .header__language {
          display: block; }
        .header .container-fluid .header__menu .header__language #outerContainer {
          display: block; }
        .header .container-fluid .header__menu .header__language #container {
          position: relative;
          width: 130px;
          height: 30px;
          background-color: transparent;
          border: 1px solid #733528;
          margin: 0;
          border-radius: 36px;
          touch-action: none;
          cursor: pointer; }
          .header .container-fluid .header__menu .header__language #container.select-left .left span {
            opacity: 1;
            color: #fff; }
          .header .container-fluid .header__menu .header__language #container.select-right .right span {
            opacity: 1;
            color: #000; }
          .header .container-fluid .header__menu .header__language #container #item {
            position: relative;
            width: 56px;
            height: 22px;
            border-radius: 36px;
            transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
            touch-action: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container #item::after {
              position: absolute;
              top: 3px;
              left: 5px;
              width: 100%;
              border-radius: 15px;
              height: 100%;
              background-color: #733528;
              content: ""; }
          .header .container-fluid .header__menu .header__language #container .item-right {
            transform: translateX(61px); }
          .header .container-fluid .header__menu .header__language #container .item-left {
            transform: translateX(0); }
          .header .container-fluid .header__menu .header__language #container .left {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container .left span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #000;
              transition: all 0.2s ease;
              font-weight: 500;
              font-weight: bold; }
          .header .container-fluid .header__menu .header__language #container .right {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container .right span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #000;
              transition: all 0.2s ease;
              font-weight: bold; }
        .header .container-fluid .header__menu .header__language #container1 {
          position: relative;
          width: 130px;
          height: 30px;
          background-color: transparent;
          border: 1px solid #7a0000;
          margin: 0;
          border-radius: 36px;
          touch-action: none;
          cursor: pointer; }
          .header .container-fluid .header__menu .header__language #container1.select-left .left span {
            opacity: 1;
            color: white; }
          .header .container-fluid .header__menu .header__language #container1.select-right .right span {
            opacity: 1;
            color: white; }
          .header .container-fluid .header__menu .header__language #container1 #item1 {
            position: relative;
            width: 56px;
            height: 22px;
            border-radius: 36px;
            transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
            touch-action: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container1 #item1::after {
              position: absolute;
              top: 3px;
              left: 5px;
              width: 100%;
              border-radius: 15px;
              height: 100%;
              background-color: #7a0000;
              content: ""; }
          .header .container-fluid .header__menu .header__language #container1 .item-right {
            transform: translateX(61px); }
          .header .container-fluid .header__menu .header__language #container1 .item-left {
            transform: translateX(0); }
          .header .container-fluid .header__menu .header__language #container1 .left {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container1 .left span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #2d2d2d;
              transition: all 0.2s ease;
              font-weight: 500;
              font-weight: bold; }
          .header .container-fluid .header__menu .header__language #container1 .right {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container1 .right span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #2d2d2d;
              transition: all 0.2s ease;
              font-weight: bold; }
        .header .container-fluid .header__menu-list {
          flex-direction: column;
          padding-top: 60px;
          align-items: center;
          padding-left: 0; }
          .header .container-fluid .header__menu-list li {
            margin-top: 20px;
            width: 100%;
            margin-right: 0;
            padding-bottom: 20px; }
            .header .container-fluid .header__menu-list li a {
              font-size: 16px;
              color: #505050;
              font-weight: 600; }
            .header .container-fluid .header__menu-list li .menu-dot::after {
              top: 50%;
              transform: translateY(-50%);
              margin: 0;
              right: 0;
              width: 146px;
              height: 2px;
              left: unset;
              background-color: #733528; }
            .header .container-fluid .header__menu-list li .item-active {
              color: #733528; }
        .header .container-fluid .header__menu img {
          width: unset; }
      .header .container-fluid .header__menu-icon {
        display: block; }
      .header .container-fluid .set-width {
        right: 0; }
      .header .container-fluid .toggle .line1 {
        transform: rotate(45deg);
        top: 7px; }
      .header .container-fluid .toggle .line2 {
        opacity: 0; }
      .header .container-fluid .toggle .line3 {
        transform: rotate(135deg);
        top: -7px; }
      .header .container-fluid .header__language {
        display: none; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .menu-big {
    display: none; }
  .menu-bar {
    display: block;
    width: 103px;
    height: 26px; }
  .sticky-menu {
    background-color: #7a0000; }
  .sticky-menu-contact {
    background-color: white; } }

@media screen and (min-width: 769px) {
  .menu-big {
    display: block; }
  .menu-bar {
    display: none; } }

.header-fixed {
  position: fixed !important; }

.footer {
  background-color: #733528;
  height: 300px; }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .footer {
      height: 320px;
      background-image: url(../images/home/bg-footer-mobile.png);
      background-position: center;
      background-size: cover; } }
  @media screen and (max-width: 768px) and (min-width: 576px) {
    .footer {
      height: unset;
      margin: 0 -2px;
      padding: 20px 0; } }
  .footer .footer-left {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 300px; }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .footer .footer-left {
        height: unset;
        margin-top: 60px;
        margin-bottom: 40px; } }
    .footer .footer-left img {
      width: 320px;
      height: 85px; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .footer .footer-left img {
          width: 104px;
          height: 27px;
          margin-left: 38px; } }
  .footer .footer-right .footer__item .footer__item-phone {
    display: flex; }
    .footer .footer-right .footer__item .footer__item-phone img {
      width: 24px;
      height: 24px;
      margin-right: 30px; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .footer .footer-right .footer__item .footer__item-phone img {
          width: 20px;
          height: 20px;
          margin-right: 20px; } }
    .footer .footer-right .footer__item .footer__item-phone p {
      font-size: 21px;
      color: #fff; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .footer .footer-right .footer__item .footer__item-phone p {
          font-size: 12px;
          font-family: "Open Sans";
          line-height: 24px; } }

@media (min-width: 768px) {
  .container-fluid {
    width: 95%; } }

ul {
  list-style-type: none;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

img {
  width: 100%; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #272727; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #733528; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #733528; }

.text-content {
  font-size: 24px;
  text-align: justify; }
  @media screen and (max-width: 1560px) {
    .text-content {
      font-size: 18px; } }

.text-title {
  font-size: 40px; }
  @media screen and (max-width: 1560px) {
    .text-title {
      font-size: 35px; } }

.header {
  background-color: #733528;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999; }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .header {
      background-color: transparent;
      z-index: 999;
      position: fixed; } }
  .header .container-fluid {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center; }
    .header .container-fluid .header__menu .menu-logo {
      display: none; }
    .header .container-fluid .header__menu-list {
      display: flex; }
      .header .container-fluid .header__menu-list li {
        margin-right: 60px; }
        .header .container-fluid .header__menu-list li a {
          display: flex;
          align-items: center;
          color: #fff; }
          .header .container-fluid .header__menu-list li a img {
            margin-right: 12px; }
        .header .container-fluid .header__menu-list li .menu-dot {
          position: relative; }
          .header .container-fluid .header__menu-list li .menu-dot::after {
            position: absolute;
            width: 90px;
            height: 6px;
            border-radius: 0px 0px 10px 10px;
            background-color: #fff;
            content: "";
            top: 100%;
            margin-top: -60px;
            left: -24px; }
        .header .container-fluid .header__menu-list li .item-active {
          color: #fff; }
    .header .container-fluid .header__menu .header__language {
      display: none; }
    .header .container-fluid .header__language #outerContainer {
      display: block; }
    .header .container-fluid .header__language #container {
      position: relative;
      width: 130px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #733528;
      margin: 0;
      border-radius: 36px;
      touch-action: none;
      cursor: pointer; }
      .header .container-fluid .header__language #container.select-left .left span {
        opacity: 1;
        color: #fff; }
      .header .container-fluid .header__language #container.select-right .right span {
        opacity: 1;
        color: #fff; }
      .header .container-fluid .header__language #container #item {
        position: relative;
        width: 56px;
        height: 22px;
        border-radius: 36px;
        transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
        touch-action: none;
        user-select: none; }
        .header .container-fluid .header__language #container #item::after {
          position: absolute;
          top: 3px;
          left: 5px;
          width: 100%;
          border-radius: 15px;
          height: 100%;
          background-color: #733528;
          content: ""; }
      .header .container-fluid .header__language #container .item-right {
        transform: translateX(61px); }
      .header .container-fluid .header__language #container .item-left {
        transform: translateX(0); }
      .header .container-fluid .header__language #container .left {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container .left span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #000;
          transition: all 0.2s ease;
          font-weight: 500;
          font-weight: bold; }
      .header .container-fluid .header__language #container .right {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container .right span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #000;
          transition: all 0.2s ease;
          font-weight: bold; }
    .header .container-fluid .header__language #container1 {
      position: relative;
      width: 130px;
      height: 30px;
      background-color: transparent;
      border: 1px solid #bfa871;
      margin: 0;
      border-radius: 36px;
      touch-action: none;
      cursor: pointer; }
      .header .container-fluid .header__language #container1.select-left .left span {
        opacity: 1;
        color: #272727; }
      .header .container-fluid .header__language #container1.select-right .right span {
        opacity: 1;
        color: #272727; }
      .header .container-fluid .header__language #container1 #item1 {
        position: relative;
        width: 56px;
        height: 22px;
        border-radius: 36px;
        transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
        touch-action: none;
        user-select: none; }
        .header .container-fluid .header__language #container1 #item1::after {
          position: absolute;
          top: 3px;
          left: 5px;
          width: 100%;
          border-radius: 15px;
          height: 100%;
          background-color: #bfa871;
          content: ""; }
      .header .container-fluid .header__language #container1 .item-right {
        transform: translateX(61px); }
      .header .container-fluid .header__language #container1 .item-left {
        transform: translateX(0); }
      .header .container-fluid .header__language #container1 .left {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container1 .left span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #bfa871;
          transition: all 0.2s ease;
          font-weight: 500;
          font-weight: bold; }
      .header .container-fluid .header__language #container1 .right {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        pointer-events: none;
        user-select: none; }
        .header .container-fluid .header__language #container1 .right span {
          font-family: sans-serif;
          font-size: 12px;
          pointer-events: none;
          user-select: none;
          color: #bfa871;
          transition: all 0.2s ease;
          font-weight: bold; }
    .header .container-fluid .header__menu-icon {
      display: none;
      z-index: 999; }
      .header .container-fluid .header__menu-icon .toggle-icon {
        width: 30px;
        background-color: #bfa871;
        margin: 5px 0;
        display: block;
        position: relative;
        height: 2px;
        transition: 0.2s ease-out; }
    @media screen and (max-width: 768px) {
      .header .container-fluid .header__menu {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        background-color: white;
        z-index: 99;
        padding: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .header .container-fluid .header__menu .menu-logo {
          display: block; }
        .header .container-fluid .header__menu .header__language {
          display: block; }
        .header .container-fluid .header__menu .header__language #outerContainer {
          display: block; }
        .header .container-fluid .header__menu .header__language #container {
          position: relative;
          width: 130px;
          height: 30px;
          background-color: transparent;
          border: 1px solid #733528;
          margin: 0;
          border-radius: 36px;
          touch-action: none;
          cursor: pointer; }
          .header .container-fluid .header__menu .header__language #container.select-left .left span {
            opacity: 1;
            color: #fff; }
          .header .container-fluid .header__menu .header__language #container.select-right .right span {
            opacity: 1;
            color: #000; }
          .header .container-fluid .header__menu .header__language #container #item {
            position: relative;
            width: 56px;
            height: 22px;
            border-radius: 36px;
            transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
            touch-action: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container #item::after {
              position: absolute;
              top: 3px;
              left: 5px;
              width: 100%;
              border-radius: 15px;
              height: 100%;
              background-color: #733528;
              content: ""; }
          .header .container-fluid .header__menu .header__language #container .item-right {
            transform: translateX(61px); }
          .header .container-fluid .header__menu .header__language #container .item-left {
            transform: translateX(0); }
          .header .container-fluid .header__menu .header__language #container .left {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container .left span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #000;
              transition: all 0.2s ease;
              font-weight: 500;
              font-weight: bold; }
          .header .container-fluid .header__menu .header__language #container .right {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container .right span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #000;
              transition: all 0.2s ease;
              font-weight: bold; }
        .header .container-fluid .header__menu .header__language #container1 {
          position: relative;
          width: 130px;
          height: 30px;
          background-color: transparent;
          border: 1px solid #7a0000;
          margin: 0;
          border-radius: 36px;
          touch-action: none;
          cursor: pointer; }
          .header .container-fluid .header__menu .header__language #container1.select-left .left span {
            opacity: 1;
            color: white; }
          .header .container-fluid .header__menu .header__language #container1.select-right .right span {
            opacity: 1;
            color: white; }
          .header .container-fluid .header__menu .header__language #container1 #item1 {
            position: relative;
            width: 56px;
            height: 22px;
            border-radius: 36px;
            transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
            touch-action: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container1 #item1::after {
              position: absolute;
              top: 3px;
              left: 5px;
              width: 100%;
              border-radius: 15px;
              height: 100%;
              background-color: #7a0000;
              content: ""; }
          .header .container-fluid .header__menu .header__language #container1 .item-right {
            transform: translateX(61px); }
          .header .container-fluid .header__menu .header__language #container1 .item-left {
            transform: translateX(0); }
          .header .container-fluid .header__menu .header__language #container1 .left {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container1 .left span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #2d2d2d;
              transition: all 0.2s ease;
              font-weight: 500;
              font-weight: bold; }
          .header .container-fluid .header__menu .header__language #container1 .right {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            pointer-events: none;
            user-select: none; }
            .header .container-fluid .header__menu .header__language #container1 .right span {
              font-family: sans-serif;
              font-size: 12px;
              pointer-events: none;
              user-select: none;
              color: #2d2d2d;
              transition: all 0.2s ease;
              font-weight: bold; }
        .header .container-fluid .header__menu-list {
          flex-direction: column;
          padding-top: 60px;
          align-items: center;
          padding-left: 0; }
          .header .container-fluid .header__menu-list li {
            margin-top: 20px;
            width: 100%;
            margin-right: 0;
            padding-bottom: 20px; }
            .header .container-fluid .header__menu-list li a {
              font-size: 16px;
              color: #505050;
              font-weight: 600; }
            .header .container-fluid .header__menu-list li .menu-dot::after {
              top: 50%;
              transform: translateY(-50%);
              margin: 0;
              right: 0;
              width: 146px;
              height: 2px;
              left: unset;
              background-color: #733528; }
            .header .container-fluid .header__menu-list li .item-active {
              color: #733528; }
        .header .container-fluid .header__menu img {
          width: unset; }
      .header .container-fluid .header__menu-icon {
        display: block; }
      .header .container-fluid .set-width {
        right: 0; }
      .header .container-fluid .toggle .line1 {
        transform: rotate(45deg);
        top: 7px; }
      .header .container-fluid .toggle .line2 {
        opacity: 0; }
      .header .container-fluid .toggle .line3 {
        transform: rotate(135deg);
        top: -7px; }
      .header .container-fluid .header__language {
        display: none; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .menu-big {
    display: none; }
  .menu-bar {
    display: block;
    width: 103px;
    height: 26px; }
  .sticky-menu {
    background-color: #7a0000; }
  .sticky-menu-contact {
    background-color: white; } }

@media screen and (min-width: 769px) {
  .menu-big {
    display: block; }
  .menu-bar {
    display: none; } }

.header-fixed {
  position: fixed !important; }

.footer {
  background-color: #733528;
  height: 300px; }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .footer {
      height: 320px;
      background-image: url(../images/home/bg-footer-mobile.png);
      background-position: center;
      background-size: cover; } }
  @media screen and (max-width: 768px) and (min-width: 576px) {
    .footer {
      height: unset;
      margin: 0 -2px;
      padding: 20px 0; } }
  .footer .footer-left {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 300px; }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .footer .footer-left {
        height: unset;
        margin-top: 60px;
        margin-bottom: 40px; } }
    .footer .footer-left img {
      width: 320px;
      height: 85px; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .footer .footer-left img {
          width: 104px;
          height: 27px;
          margin-left: 38px; } }
  .footer .footer-right .footer__item .footer__item-phone {
    display: flex; }
    .footer .footer-right .footer__item .footer__item-phone img {
      width: 24px;
      height: 24px;
      margin-right: 30px; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .footer .footer-right .footer__item .footer__item-phone img {
          width: 20px;
          height: 20px;
          margin-right: 20px; } }
    .footer .footer-right .footer__item .footer__item-phone p {
      font-size: 21px;
      color: #fff; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .footer .footer-right .footer__item .footer__item-phone p {
          font-size: 12px;
          font-family: "Open Sans";
          line-height: 24px; } }

.home-banner {
  height: 90vh;
  background-image: url(../images/home/bg-new.png);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .home-banner {
      background-image: url(../images/home/Home-respon.svg); } }
  .home-banner img {
    width: 905px;
    height: 320px; }
    @media screen and (max-width: 375px) {
      .home-banner img {
        width: 292px;
        height: 320px; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .home-banner {
    height: 100vh;
    background-image: url(../images/home/Home-respon.svg);
    background-size: cover; }
    .home-banner img {
      width: 247px;
      height: 70px; } }

@media (min-width: 576px) and (max-width: 1024px) {
  .home-banner {
    height: 100vh;
    background-image: url(../images/home/Home-respon.svg);
    background-size: cover; }
    .home-banner img {
      width: 450px;
      height: unset; } }

.service {
  height: 100%; }
  .service .service-banner {
    background-image: url(../images/service/banner-new.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .service .service-banner {
        background-image: url(../images/home/Home-respon.svg);
        flex-direction: column; } }
    .service .service-banner img {
      width: 675px;
      position: relative; }
      @media screen and (max-width: 1919px) and (min-width: 1280px) {
        .service .service-banner img {
          width: 550px; } }
      @media screen and (max-width: 576px) and (min-width: 320px) {
        .service .service-banner img {
          height: 291px;
          width: 291px;
          margin-bottom: 40px; } }
      @media screen and (max-width: 1024px) and (min-width: 576px) {
        .service .service-banner img {
          height: 400px;
          width: 400px;
          margin-bottom: 40px; } }
    .service .service-banner .service-button {
      position: absolute;
      flex-direction: column;
      display: flex;
      margin-top: 320px;
      margin-left: 670px; }
      .service .service-banner .service-button button {
        outline: none; }
      @media screen and (max-width: 1024px) {
        .service .service-banner .service-button {
          margin-top: 220px;
          margin-left: 525px; } }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .service .service-banner .service-button {
          margin: 0;
          position: unset; } }
      .service .service-banner .service-button .button-1 {
        width: 360px;
        height: 90px;
        border-radius: 100px;
        background-color: #995b4e;
        border: 0.3px solid #fff;
        font-size: 56px;
        color: #fff;
        letter-spacing: 22px;
        font-weight: 300; }
        @media screen and (max-width: 576px) and (min-width: 320px) {
          .service .service-banner .service-button .button-1 {
            height: 50px;
            width: 198px;
            font-size: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 10px;
            padding-left: 20px; } }
        @media screen and (max-width: 1024px) and (min-width: 576px) {
          .service .service-banner .service-button .button-1 {
            height: 80px;
            width: 350px;
            font-size: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 20px;
            padding-left: 40px; } }
      .service .service-banner .service-button .button-2 {
        width: 360px;
        height: 80px;
        border-radius: 100px;
        background-color: #995b4e;
        border: 0.3px solid #fff;
        font-size: 30px;
        color: #fff;
        letter-spacing: 22px;
        font-weight: 300;
        margin-top: 15px; }
        @media screen and (max-width: 576px) and (min-width: 320px) {
          .service .service-banner .service-button .button-2 {
            height: 50px;
            width: 198px;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 5px;
            padding-left: 20px; } }
        @media screen and (max-width: 1024px) and (min-width: 576px) {
          .service .service-banner .service-button .button-2 {
            height: 80px;
            width: 350px;
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 20px;
            padding-left: 40px; } }
  .service .service-item {
    height: 100vh;
    border-bottom: 0.3px solid #733528;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .service .service-item {
        border-bottom: unset;
        height: unset;
        padding: 40px 0;
        background-color: white; } }
    .service .service-item .container-custom {
      max-width: 80% !important; }
    .service .service-item .service-item-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      margin-left: 80px; }
      @media screen and (max-width: 1919px) and (min-width: 1280px) {
        .service .service-item .service-item-text {
          margin-left: 0;
          text-align: justify; } }
      @media screen and (max-width: 1080px) and (min-width: 320px) {
        .service .service-item .service-item-text {
          height: unset;
          margin-left: 0; } }
      .service .service-item .service-item-text img {
        width: 300px; }
        @media screen and (max-width: 768px) and (min-width: 320px) {
          .service .service-item .service-item-text img {
            width: 188px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px; } }
      .service .service-item .service-item-text p {
        display: block;
        font-size: 24px;
        color: #000;
        margin-top: 25px; }
        @media screen and (max-width: 768px) and (min-width: 320px) {
          .service .service-item .service-item-text p {
            font-size: 14px;
            font-weight: 600; } }
    .service .service-item .service-item-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      align-items: center; }
      @media screen and (max-width: 1024px) and (min-width: 320px) {
        .service .service-item .service-item-img {
          height: unset; } }
      .service .service-item .service-item-img img {
        width: 880px; }
        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          .service .service-item .service-item-img img {
            width: 570px;
            margin: 0 30px; } }
        @media screen and (max-width: 1024px) {
          .service .service-item .service-item-img img {
            width: 450px; } }
        @media screen and (max-width: 768px) and (min-width: 320px) {
          .service .service-item .service-item-img img {
            width: 302px;
            height: 234px; } }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .service .custom-order-2 {
      order: 2; } }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .service .custom-order-1 {
      order: 1; } }

.about {
  background-image: url("../images/about/AboutUs.png");
  height: 100%; }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .about {
      background-image: url(../images/home/Home-respon.svg);
      background-position: center;
      background-size: cover; } }
  .about .about-item {
    height: 100vh;
    width: 100%;
    background-size: cover; }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      .about .about-item {
        height: 60vh; } }
  .about .about-item1 {
    height: 100vh;
    width: 100%;
    background-size: cover; }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      .about .about-item1 {
        height: 60vh; } }
  .about .about-item2 {
    height: 100vh;
    width: 100%;
    background-size: cover; }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      .about .about-item2 {
        height: 60vh; } }
    @media screen and (max-height: 736px) {
      .about .about-item2 {
        height: unset; } }
  .about .about-item-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      .about .about-item-bg {
        height: 60vh; } }
    .about .about-item-bg .box-mobile {
      display: none; }
    @media screen and (max-width: 576px) and (min-width: 320px) {
      .about .about-item-bg {
        width: 100%;
        margin: 25px; } }
  @media screen and (max-width: 576px) and (min-width: 320px) and (max-height: 700px) {
    .about .about-item-bg {
      margin: 40px 25px; } }
  @media screen and (max-width: 576px) and (min-width: 320px) and (max-height: 736px) and (min-width: 414px) {
    .about .about-item-bg {
      margin: 35px; } }
    @media screen and (max-width: 576px) and (min-width: 320px) {
        .about .about-item-bg .box {
          display: none; }
        .about .about-item-bg .box-mobile {
          display: block; } }
    @media screen and (max-width: 1919px) and (min-width: 1280px) {
      .about .about-item-bg {
        margin-top: 40px; } }
    .about .about-item-bg img {
      position: relative; }
    .about .about-item-bg .about-content {
      position: absolute;
      width: 50%; }
      @media screen and (max-width: 1919px) and (min-width: 1280px) {
        .about .about-item-bg .about-content {
          width: 63%; } }
      @media screen and (max-width: 1024px) {
        .about .about-item-bg .about-content {
          width: 70%; } }
      @media screen and (max-width: 576px) and (min-width: 320px) {
        .about .about-item-bg .about-content {
          width: 63%; } }
      .about .about-item-bg .about-content .about-content-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }
        .about .about-item-bg .about-content .about-content-item p {
          margin-left: 60px;
          font-size: 24px;
          color: #808080;
          line-height: 45px; }
          @media screen and (max-width: 1024px) {
            .about .about-item-bg .about-content .about-content-item p {
              font-size: 16px;
              margin: 0;
              line-height: 1.7;
              text-align: justify; } }
          @media screen and (max-width: 576px) and (min-width: 320px) {
            .about .about-item-bg .about-content .about-content-item p {
              font-size: 16px;
              margin: 0;
              line-height: 1.8;
              text-align: center; } }
        .about .about-item-bg .about-content .about-content-item img {
          margin-left: 90px; }
          @media screen and (max-width: 768px) {
            .about .about-item-bg .about-content .about-content-item img {
              margin-left: 0; } }
          @media screen and (max-width: 576px) and (min-width: 320px) {
            .about .about-item-bg .about-content .about-content-item img {
              width: 183px;
              height: 183px;
              margin: 0;
              position: absolute;
              margin-bottom: 100px; } }
      @media screen and (max-width: 576px) and (min-width: 320px) {
        .about .about-item-bg .about-content .content-text {
          position: relative;
          top: 60%; } }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .about .custom-order-2 {
      order: 2; } }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .about .custom-order-1 {
      order: 1; } }

.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #733528;
  box-shadow: 1px 0 15px 2px #000; }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .contact {
      background: #ffffff; } }
  @media screen and (max-height: 700px) {
    .contact {
      margin-top: 80px;
      margin-bottom: 80px; } }
  .contact .contact-bg {
    display: none;
    position: absolute; }
    @media screen and (max-width: 576px) and (min-width: 320px) {
      .contact .contact-bg {
        display: block; } }
  .contact .container-custom-contact {
    width: 81% !important;
    background-image: url(../images/contact/contact-main.png);
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; }
    @media screen and (max-width: 576px) and (min-width: 320px) {
      .contact .container-custom-contact {
        background-image: unset; } }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      .contact .container-custom-contact {
        height: 80%; } }
  .contact .row-custom {
    width: 90%; }
  .contact .footer-right .title {
    margin-left: 2.5rem;
    margin-bottom: 40px; }
    @media screen and (max-width: 576px) and (min-width: 320px) {
      .contact .footer-right .title {
        width: 98px;
        height: 28px;
        margin-left: 0; } }
  .contact .footer-right .contact-map-mobile {
    display: none; }
    @media screen and (max-width: 576px) and (min-width: 320px) {
      .contact .footer-right .contact-map-mobile {
        display: block; } }
  .contact .footer-right .contact-logo {
    display: none; }
    @media screen and (max-width: 576px) and (min-width: 320px) {
      .contact .footer-right .contact-logo {
        display: block;
        margin: 40px 0; }
        .contact .footer-right .contact-logo img {
          width: 158px;
          height: 40px; } }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .contact .footer-right ul {
      margin-block-start: 0;
      padding-inline-start: 0; } }
  .contact .footer-right .footer__item .footer__item-phone {
    display: flex; }
    .contact .footer-right .footer__item .footer__item-phone img {
      width: 24px;
      height: 24px;
      margin-right: 30px; }
      @media screen and (max-width: 576px) and (min-width: 320px) {
        .contact .footer-right .footer__item .footer__item-phone img {
          width: 20px;
          height: 20px;
          margin-right: 20px; } }
    .contact .footer-right .footer__item .footer__item-phone p {
      font-size: 21px;
      color: #733528; }
      @media screen and (max-width: 576px) and (min-width: 320px) {
        .contact .footer-right .footer__item .footer__item-phone p {
          font-size: 12px;
          font-family: "Open Sans";
          line-height: 24px; } }
  @media screen and (max-width: 576px) and (min-width: 320px) {
    .contact .contact-map {
      display: none; } }

.porfolio-banner {
  background-image: url(../images/service/portfolio.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; }
