.porfolio-banner {
    background-image: url(../images/service/15.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
