.porfolio-banner {
    background-image: url(../images/service/15.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.img-digital {
    width: 570px;
    height: 612px;
    border-radius: 50px;
}
.row-custum {
    display: flex;
    @media screen and(max-width: 576px) and (min-width: 320px) {
        flex-direction: column;
    }
}
