.footer
    .container-fluid
        .row
            .col-md-6.col-12.footer-left
                img(src="images/home/footer.svg", alt="")
            .col-md-6.col-12.footer-right.d-flex.justify-content-start.align-items-center
                ul 
                    li.footer__item
                        a.footer__item-phone(href="index.html")
                            img(src="images/home/phone.svg", alt="")
                            p 0793250365
                    li.footer__item
                        a.footer__item-phone(href="index.html")
                            img(src="images/home/address.svg", alt="")
                            p sales@consultindochina.com
                    li.footer__item
                        a.footer__item-phone(href="index.html")
                            img(src="images/home/mail.svg", alt="")
                            p N03-T7, Ngoai Giao Doan, Xuan Tao, Tu Liem, Ha Noi
