.header
   .container-fluid
      .header__logo
         img(class="menu-big" src="images/home/logo.svg")
         img(class="menu-bar" src="images/home/footer.svg")
      .header__menu
         .menu-logo 
               img(src="images/home/logo.svg", alt="")
         ul.header__menu-list            
            li.list__item
               a#home-icon(href="index.html")
                  | Home
            li.list__item
               a(href="about.html")#about-icon
                  | About
            li.list__item
               a(href="service.html")#service-icon
                  | Services
            li.list__item
               a(href="contact.html")#contact-icon
                  | Contact
         .header__language
            #outerContainer
               #container1.select-left
                  #item1
                  .left
                     span Vi
                  .right
                     span En
            
      .header__language
         #outerContainer
            #container.select-left
               #item
               .left
                  span Vi
               .right
                  span En
      .header__menu-icon 
         img#menu-icon(src="images/home/menu-bar.svg", alt="")

